### Start SparkSession

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F


spark = SparkSession \
            .builder \
            .appName("pyspark_local") \
            .master("spark://spark-master:7077") \
            .config("spark.driver.memory", "4g") \
            .config("spark.executor.memory", "2g") \
            .config("spark.executor.cores", "2") \
    .getOrCreate()


# spark = SparkSession \
#             .builder \
#             .appName("pyspark_local") \
#             .master("spark://spark-master:7077") \
#             .config("spark.driver.memory", "8g") \
#             .config("spark.executor.memory", "2g") \
#             .config("spark.executor.cores", "2") \
#     .getOrCreate()

sc = spark.sparkContext


print("Активные Spark сессии:", spark.sparkContext.uiWebUrl)
sc

25/07/17 18:30:34 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Активные Spark сессии: http://16ecfb548f4b:4040

In [2]:
driver_memory = spark.sparkContext.getConf().get("spark.driver.memory")
print(f"Сконфигурированная память драйвера: {driver_memory}")

executor_memory = spark.sparkContext.getConf().get("spark.executor.memory")
print(f"Сконфигурированная память исполнителя: {executor_memory}")

pyspark_executor_memory = spark.sparkContext.getConf().get("spark.executor.pyspark.memory")
print(f"Сконфигурированная память PySpark для исполнителя: {pyspark_executor_memory}")

Сконфигурированная память драйвера: 8g
Сконфигурированная память исполнителя: 2g
Сконфигурированная память PySpark для исполнителя: None

### Read

In [3]:
PATH = 'data/orders.csv'

In [4]:
spark.read.csv(PATH).show()

+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+--------------------+------+------------+
|              _c0|                 _c1|                 _c2|                 _c3|                 _c4|                 _c5|                 _c6|       _c7|                 _c8|                 _c9|  _c10|        _c11|
+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+--------------------+------+------------+
|             name|               email|             address|   registration_date|               phone|             company|                 job| birthdate|             country|                uuid|salary|country_code|
|Jermaine Espinoza|  fbaker@example.org|634 Gonzalez Inle...|2024-06-01T00:00:...| +1-605-744-8478x494|           Baker Ltd| Broadcast presenter|1985-01-12|          Azerbaijan|9c482b2e-b191-446...| 10350|          HT|
|    Lauren Thomas|alfredwaters@exam...|26631 Jill Juncti...|2024-03-12T00:00:...|        722.209.9393|   Castillo-Valencia|      Dramatherapist|1965-10-31|            Barbados|ca0d3252-e65c-43a...|  8000|          TF|
|  James Gutierrez|carmen78@example.com|01077 Wilson Viad...|2024-09-03T00:00:...|001-458-508-9427x...|Dean, Hall and Si...|Development worke...|1993-10-28|          Kazakhstan|6a625dc7-238f-4cb...| 15900|          GM|
|       Kyle Kline|zgonzalez@example...|54247 Phillips Fo...|2024-06-01T00:00:...|001-579-863-8127x...|Nelson, Zhang and...|Print production ...|1964-05-26|   Equatorial Guinea|0f05ddba-d193-416...|  8300|          KM|
|     Rhonda Foley|jonathan92@exampl...|1234 Cox Light Su...|2024-08-30T00:00:...|        513-361-0719|        White-Oneill|  Academic librarian|2006-08-07|               Korea|757b9bd8-1aa7-424...|  2300|          LV|
|      Kyle Watson|ryanbarron@exampl...|518 Adams Junctio...|2024-05-29T00:00:...|   476-776-5078x2432|Solomon, Moore an...|Clothing/textile ...|1998-01-16|              Bhutan|425adba2-c30b-45c...|  7150|          CZ|
|    Amy Mcfarland|alvaradoadam@exam...|021 Jordan Wall, ...|2024-05-29T00:00:...|   517-897-7421x9848|      Dawson-Hensley|Commissioning editor|1992-10-15|            Guernsey|92c6c55e-bb76-4f9...|  3000|          BY|
| Angela Mcpherson|charleserickson@e...|9953 Silva Ville ...|2024-09-03T00:00:...| +1-207-529-2129x002|         King-Bailey|Audiological scie...|1994-05-20|              Canada|ea2d6a30-88e8-435...| 10350|          FO|
|      John Sparks|aguirrethomas@exa...|6488 Bernard Mill...|2024-01-10T00:00:...|    447.276.7449x063|    Bonilla-Mccarthy|       Meteorologist|1987-09-21|    Christmas Island|f3d44b10-e23e-4ff...| 13350|          MT|
| Madison Chambers|natalie43@example...|74333 Graham Via ...|2024-09-03T00:00:...|  680-540-2534x29453|Burgess, Williams...|Control and instr...|1966-04-09|               Samoa|a777a93d-b214-4c3...|  2000|          HM|
|        Megan Day| cmalone@example.org|4358 Turner River...|2024-04-04T00:00:...|+1-898-862-7028x5398|Singleton, Hughes...|Television camera...|1985-10-20|           Venezuela|2938384d-1b0b-47d...| 18300|          BR|
|      James Gomez|smartinez@example...|3453 Bryan Trail,...|2024-08-30T00:00:...|          6296247845|Bolton, Hall and ...|   Freight forwarder|1983-12-22|Holy See (Vatican...|d280de90-2b71-41d...| 14850|          AS|
|  Kenneth Johnson|samantha49@exampl...|USCGC Alvarado, F...|2024-01-10T00:00:...|          8952051792|        Castillo-Day|  Wellsite geologist|1970-05-16|             Germany|ce9a7e18-c84d-4bc...| 11550|          FI|
|        Sara Vega|michelechen@examp...|65080 Martinez Fr...|2024-02-23T00:00:...|       (850)284-8908|Sullivan, Stephen...|Customer service ...|1968-10-25|            Suriname|89fe98ae-6f1d-436...| 19100|          MA|
|      Alan Martin| zhunter@example.com|41781 Lloyd Ports...|2024-08-30T00:00:...|        297-935-8388|         Jones Group|      Energy manager|1977-05-19|          Montenegro|49ace390-070e-47f...| 14150|          CW|
|     Kylie Conner|linamanda@example...|19553 Conner Driv...|2024-08-30T00:00:...|   (205)800-9320x880|Caldwell, Barker ...|Water quality sci...|1995-06-03|       Cote d'Ivoire|48293cde-1164-471...|  9050|          AI|
| Felicia Campbell| julia49@example.org|707 Lisa Keys Sui...|2024-03-12T00:00:...|+1-684-904-5939x1626|Simon, Murray and...|Nutritional thera...|1967-06-22|     Kyrgyz Republic|4d6dc773-ae78-4bf...|  4850|          TO|
|      Kellie Wolf|  tadams@example.com|313 Sloan Plaza, ...|2024-08-30T00:00:...|+1-931-409-4930x0...|   Gonzalez-Cummings|Journalist, broad...|1999-01-28|         Switzerland|3f42df36-a084-413...| 15250|          CO|
|      Shawn Garza| kevin03@example.net|2470 Goodman Lodg...|2024-04-04T00:00:...|        279.629.6598|        Williams LLC|   Recycling officer|1989-11-23|             Comoros|06c2762f-053b-4e0...| 15450|          KN|
+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+--------------------+--------------------+------+------------+
only showing top 20 rows

In [5]:
spark.read.csv(PATH, sep=',', header=True).show(5)

+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+-----------------+--------------------+------+------------+
|             name|               email|             address|   registration_date|               phone|             company|                 job| birthdate|          country|                uuid|salary|country_code|
+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+-----------------+--------------------+------+------------+
|Jermaine Espinoza|  fbaker@example.org|634 Gonzalez Inle...|2024-06-01T00:00:...| +1-605-744-8478x494|           Baker Ltd| Broadcast presenter|1985-01-12|       Azerbaijan|9c482b2e-b191-446...| 10350|          HT|
|    Lauren Thomas|alfredwaters@exam...|26631 Jill Juncti...|2024-03-12T00:00:...|        722.209.9393|   Castillo-Valencia|      Dramatherapist|1965-10-31|         Barbados|ca0d3252-e65c-43a...|  8000|          TF|
|  James Gutierrez|carmen78@example.com|01077 Wilson Viad...|2024-09-03T00:00:...|001-458-508-9427x...|Dean, Hall and Si...|Development worke...|1993-10-28|       Kazakhstan|6a625dc7-238f-4cb...| 15900|          GM|
|       Kyle Kline|zgonzalez@example...|54247 Phillips Fo...|2024-06-01T00:00:...|001-579-863-8127x...|Nelson, Zhang and...|Print production ...|1964-05-26|Equatorial Guinea|0f05ddba-d193-416...|  8300|          KM|
|     Rhonda Foley|jonathan92@exampl...|1234 Cox Light Su...|2024-08-30T00:00:...|        513-361-0719|        White-Oneill|  Academic librarian|2006-08-07|            Korea|757b9bd8-1aa7-424...|  2300|          LV|
+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+----------+-----------------+--------------------+------+------------+
only showing top 5 rows

In [6]:
df = spark.read.csv(PATH, sep=',', header=True)

In [7]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- company: string (nullable = true)
 |-- job: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- country: string (nullable = true)
 |-- uuid: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- country_code: string (nullable = true)

In [8]:
result = df\
    .withColumnRenamed("name", "full_name")\
    .withColumnRenamed("phone", "phone_number")

result.printSchema()
result.columns

root
 |-- full_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- company: string (nullable = true)
 |-- job: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- country: string (nullable = true)
 |-- uuid: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- country_code: string (nullable = true)

['full_name',
 'email',
 'address',
 'registration_date',
 'phone_number',
 'company',
 'job',
 'birthdate',
 'country',
 'uuid',
 'salary',
 'country_code']

In [9]:
result.show(5, False)

+-----------------+------------------------+---------------------------------------------------------+-----------------------------+----------------------+--------------------------+-----------------------------+----------+-----------------+------------------------------------+------+------------+
|full_name        |email                   |address                                                  |registration_date            |phone_number          |company                   |job                          |birthdate |country          |uuid                                |salary|country_code|
+-----------------+------------------------+---------------------------------------------------------+-----------------------------+----------------------+--------------------------+-----------------------------+----------+-----------------+------------------------------------+------+------------+
|Jermaine Espinoza|fbaker@example.org      |634 Gonzalez Inlet Suite 238, South Trevormouth, VA 19774|2024-06-01T00:00:00.000+03:00|+1-605-744-8478x494   |Baker Ltd                 |Broadcast presenter          |1985-01-12|Azerbaijan       |9c482b2e-b191-4462-bee4-b5dda215e792|10350 |HT          |
|Lauren Thomas    |alfredwaters@example.com|26631 Jill Junction, Sandersborough, GA 60912            |2024-03-12T00:00:00.000+03:00|722.209.9393          |Castillo-Valencia         |Dramatherapist               |1965-10-31|Barbados         |ca0d3252-e65c-43aa-b557-8d5efe5f60bb|8000  |TF          |
|James Gutierrez  |carmen78@example.com    |01077 Wilson Viaduct, West Heather, NV 03145             |2024-09-03T00:00:00.000+03:00|001-458-508-9427x3274 |Dean, Hall and Simmons    |Development worker, community|1993-10-28|Kazakhstan       |6a625dc7-238f-4cbc-8368-f3a33ec291c6|15900 |GM          |
|Kyle Kline       |zgonzalez@example.net   |54247 Phillips Forest, Simmonsview, CT 26557             |2024-06-01T00:00:00.000+03:00|001-579-863-8127x73535|Nelson, Zhang and Robinson|Print production planner     |1964-05-26|Equatorial Guinea|0f05ddba-d193-416f-a8dd-2be953d8c8a4|8300  |KM          |
|Rhonda Foley     |jonathan92@example.org  |1234 Cox Light Suite 381, Brownfurt, NV 24776            |2024-08-30T00:00:00.000+03:00|513-361-0719          |White-Oneill              |Academic librarian           |2006-08-07|Korea            |757b9bd8-1aa7-4241-9710-77d285870a2d|2300  |LV          |
+-----------------+------------------------+---------------------------------------------------------+-----------------------------+----------------------+--------------------------+-----------------------------+----------+-----------------+------------------------------------+------+------------+
only showing top 5 rows

In [10]:
result.show(2, False, True)

-RECORD 0----------------------------------------------------------------------
 full_name         | Jermaine Espinoza
 email             | fbaker@example.org
 address           | 634 Gonzalez Inlet Suite 238, South Trevormouth, VA 19774
 registration_date | 2024-06-01T00:00:00.000+03:00
 phone_number      | +1-605-744-8478x494
 company           | Baker Ltd
 job               | Broadcast presenter
 birthdate         | 1985-01-12
 country           | Azerbaijan
 uuid              | 9c482b2e-b191-4462-bee4-b5dda215e792
 salary            | 10350
 country_code      | HT
-RECORD 1----------------------------------------------------------------------
 full_name         | Lauren Thomas
 email             | alfredwaters@example.com
 address           | 26631 Jill Junction, Sandersborough, GA 60912
 registration_date | 2024-03-12T00:00:00.000+03:00
 phone_number      | 722.209.9393
 company           | Castillo-Valencia
 job               | Dramatherapist
 birthdate         | 1965-10-31
 country           | Barbados
 uuid              | ca0d3252-e65c-43aa-b557-8d5efe5f60bb
 salary            | 8000
 country_code      | TF
only showing top 2 rows

### PrintSchema

In [11]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- company: string (nullable = true)
 |-- job: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- country: string (nullable = true)
 |-- uuid: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- country_code: string (nullable = true)

In [12]:
result = df \
    .withColumnRenamed("name", "first_name") \
    .withColumnRenamed("phone", "phone_number") \
    .withColumn('registration_date', F.col('registration_date').cast('date')) \
    .withColumn('birthdate', F.col('birthdate').cast('date'))

result.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: date (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- company: string (nullable = true)
 |-- job: string (nullable = true)
 |-- birthdate: date (nullable = true)
 |-- country: string (nullable = true)
 |-- uuid: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- country_code: string (nullable = true)

In [13]:
df \
    .select('salary')\
    .distinct()\
    .show(20, truncate=False)

+------+
|salary|
+------+
|16250 |
|3650  |
|7650  |
|4850  |
|3200  |
|6900  |
|10250 |
|14000 |
|2700  |
|12750 |
|6850  |
|2550  |
|13700 |
|5450  |
|18750 |
|17100 |
|3250  |
|11600 |
|2200  |
|15100 |
+------+
only showing top 20 rows

In [14]:
result = df \
    .withColumnRenamed("name", "first_name") \
    .withColumnRenamed("phone", "phone_number") \
    .withColumn('registration_date', F.col('registration_date').cast('date')) \
    .withColumn('birthdate', F.col('birthdate').cast('date')) \
    .withColumn('salary', F.col('salary').cast('long'))

result.printSchema()
result \
    .select('salary')\
    .distinct()\
    .show(20, truncate=False)

root
 |-- first_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: date (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- company: string (nullable = true)
 |-- job: string (nullable = true)
 |-- birthdate: date (nullable = true)
 |-- country: string (nullable = true)
 |-- uuid: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- country_code: string (nullable = true)

+------+
|salary|
+------+
|2250  |
|3800  |
|16100 |
|5850  |
|17150 |
|9750  |
|6700  |
|7800  |
|17100 |
|14450 |
|2900  |
|4300  |
|2400  |
|10000 |
|11700 |
|3200  |
|13200 |
|11450 |
|16900 |
|12300 |
+------+
only showing top 20 rows

In [15]:
# result = df \
#     .withColumnRenamed("registration_date", "registered_at") \
#     .withColumnRenamed("birthdate", "dob") \
#     .withColumnRenamed("country_code", "iso_code")

# result.columns

In [16]:
# result.printSchema()

### Select

In [17]:
result\
    .select('registration_date')\
    .distinct()\
    .show(truncate=False)

+-----------------+
|registration_date|
+-----------------+
|2024-08-30       |
|2024-09-03       |
|2024-03-12       |
|2024-05-29       |
|2024-02-23       |
|2024-01-10       |
|2024-04-04       |
|2024-06-01       |
+-----------------+

### GroupBy

In [18]:
result\
    .groupBy('country')\
    .agg(F.count('*').alias('total_rows'))\
    .orderBy(F.col('country').desc())\
    .show(truncate=False)

+------------------------------------+----------+
|country                             |total_rows|
+------------------------------------+----------+
|Zimbabwe                            |14584     |
|Zambia                              |14804     |
|Yemen                               |14737     |
|Western Sahara                      |14732     |
|Wallis and Futuna                   |14573     |
|Vietnam                             |14750     |
|Venezuela                           |14771     |
|Vanuatu                             |14686     |
|Uzbekistan                          |14663     |
|Uruguay                             |14678     |
|United States of America            |14796     |
|United States Virgin Islands        |14683     |
|United States Minor Outlying Islands|14617     |
|United Kingdom                      |14709     |
|United Arab Emirates                |14762     |
|Ukraine                             |14702     |
|Uganda                              |14987     |
|Tuvalu                              |14761     |
|Turks and Caicos Islands            |14513     |
|Turkmenistan                        |14738     |
+------------------------------------+----------+
only showing top 20 rows

In [19]:
result.columns

['first_name',
 'email',
 'address',
 'registration_date',
 'phone_number',
 'company',
 'job',
 'birthdate',
 'country',
 'uuid',
 'salary',
 'country_code']

In [20]:
# Выведите минимальное и максимальное значение salary (max_salary, min_salary)

result\
    .agg(
        F.max('salary').alias('max_salary'),
        F.min('salary').alias('min_salary')
    )\
    .show(truncate=False)

+----------+----------+
|max_salary|min_salary|
+----------+----------+
|20000     |2000      |
+----------+----------+

### Filter

In [21]:
# Два варианта написании фильтрации
df_de_salary = result\
    .where(F.col("country") == "Korea") \
    .where(F.col("salary").isNotNull()) \

df_de_salary2 = result \
    .where('country = "Korea"') \
    .where('salary IS NOT NULL')

print('df_de_salary',df_de_salary.count())
print('df_de_salary2',df_de_salary2.count())
print(df_de_salary.count() == df_de_salary2.count())

df_de_salary 29183

df_de_salary2 29183

True

### Save to CSV

In [22]:
df_de_salary2.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: date (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- company: string (nullable = true)
 |-- job: string (nullable = true)
 |-- birthdate: date (nullable = true)
 |-- country: string (nullable = true)
 |-- uuid: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- country_code: string (nullable = true)

In [23]:
df_de_salary.show(2, truncate=False)

+-----------------+------------------------+---------------------------------------------+-----------------+-----------------+---------------------------+-----------------------------+----------+-------+------------------------------------+------+------------+
|first_name       |email                   |address                                      |registration_date|phone_number     |company                    |job                          |birthdate |country|uuid                                |salary|country_code|
+-----------------+------------------------+---------------------------------------------+-----------------+-----------------+---------------------------+-----------------------------+----------+-------+------------------------------------+------+------------+
|Rhonda Foley     |jonathan92@example.org  |1234 Cox Light Suite 381, Brownfurt, NV 24776|2024-08-30       |513-361-0719     |White-Oneill               |Academic librarian           |2006-08-07|Korea  |757b9bd8-1aa7-4241-9710-77d285870a2d|2300  |LV          |
|Christine Hopkins|davisvanessa@example.com|6319 Jacob Dale Suite 289, Danaside, NM 89761|2024-09-03       |(607)860-3600x174|Parker, Mcdowell and Moreno|Development worker, community|2006-05-22|Korea  |b629f5c4-05c1-45fd-bd4c-218ad628d2c1|14000 |PE          |
+-----------------+------------------------+---------------------------------------------+-----------------+-----------------+---------------------------+-----------------------------+----------+-------+------------------------------------+------+------------+
only showing top 2 rows

In [24]:
df_de_salary.columns

['first_name',
 'email',
 'address',
 'registration_date',
 'phone_number',
 'company',
 'job',
 'birthdate',
 'country',
 'uuid',
 'salary',
 'country_code']

In [25]:
final = df_de_salary.select(
    'salary',
    'job',
    'company',
    'first_name',
    'email',
    F.col('registration_date').cast('date').alias('reg_date')
)

final.show(20, truncate=False)

+------+-----------------------------------+-----------------------------+-------------------+--------------------------------+----------+
|salary|job                                |company                      |first_name         |email                           |reg_date  |
+------+-----------------------------------+-----------------------------+-------------------+--------------------------------+----------+
|2300  |Academic librarian                 |White-Oneill                 |Rhonda Foley       |jonathan92@example.org          |2024-08-30|
|14000 |Development worker, community      |Parker, Mcdowell and Moreno  |Christine Hopkins  |davisvanessa@example.com        |2024-09-03|
|19900 |Stage manager                      |Dean-Hubbard                 |Thomas Schultz     |byrdjean@example.org            |2024-08-30|
|8300  |Hydrogeologist                     |Graves Group                 |Marissa Price      |ugates@example.org              |2024-09-03|
|3400  |Dance movement psychotherapist     |Bowen-Rodriguez              |Christopher Kemp   |brenda90@example.com            |2024-05-29|
|6900  |Surveyor, minerals                 |Decker-Davis                 |Melanie Johnson    |simoncaroline@example.org       |2024-01-10|
|4250  |Commercial horticulturist          |Hudson Group                 |Carrie Phillips DDS|richardsonjason@example.net     |2024-05-29|
|9000  |Trading standards officer          |Perez and Sons               |Michael Phillips   |christinachristensen@example.net|2024-01-10|
|9900  |Personnel officer                  |Hogan-Lopez                  |Christopher Cruz   |latasha52@example.net           |2024-02-23|
|20000 |Learning disability nurse          |Murphy, Reed and Lin         |Joseph Chavez      |rebeccacarter@example.org       |2024-04-04|
|2350  |Engineer, broadcasting (operations)|Chang Ltd                    |Shawn Mills        |loriwalker@example.org          |2024-01-10|
|2450  |Civil Service fast streamer        |Sherman, Gregory and Thompson|Melissa Murphy     |karenrichards@example.net       |2024-08-30|
|16950 |Clinical psychologist              |Barnett-Riley                |Nicholas Cross     |rsosa@example.net               |2024-02-23|
|19300 |Equality and diversity officer     |Cooper, Hampton and Hoffman  |Timothy Krause     |michellestewart@example.com     |2024-05-29|
|5500  |Customer service manager           |Schneider-Summers            |Ryan Brown         |ebennett@example.net            |2024-04-04|
|11400 |Database administrator             |Brock, Briggs and Ellison    |Travis Mcbride     |tammyhernandez@example.org      |2024-02-23|
|18500 |Media buyer                        |Brown and Sons               |Elizabeth Fisher   |youngmichael@example.org        |2024-05-29|
|11600 |Aeronautical engineer              |Bender-Mendez                |Teresa Taylor      |ujacobs@example.org             |2024-03-12|
|7050  |Garment/textile technologist       |Washington-Fox               |Vanessa Fowler     |robertvega@example.net          |2024-02-23|
|16850 |Personal assistant                 |Johnson PLC                  |Mackenzie Fields   |alan72@example.net              |2024-09-03|
+------+-----------------------------------+-----------------------------+-------------------+--------------------------------+----------+
only showing top 20 rows

In [26]:
import shutil

shutil.rmtree('data/final_no_control')
shutil.rmtree('data/final_one_file')
shutil.rmtree('data/final_partitioned')
shutil.rmtree('data/final_partitioned_repart')
shutil.rmtree('data/final_partitioned_coalesce')

In [27]:
# Сохранение неконтроллируемое по кол-ву файлов
final\
    .write\
    .format('csv')\
    .options(header='True', sep=';')\
    .csv('data/final_no_control')

partition_num = final.rdd.getNumPartitions()
print(f'Кол-во партиций {partition_num}')

Кол-во партиций 8

In [28]:
# Сохранение контроллируемое по кол-ву файлов - ОДИН ФАЙЛ
final\
    .coalesce(1)\
    .write\
    .format('csv')\
    .options(header='True', sep=';')\
    .csv('data/final_one_file') 

partition_num = final.coalesce(1).rdd.getNumPartitions()
print(f'Кол-во партиций {partition_num}')

Кол-во партиций 1

In [29]:
# Сохранения с партицированием
final\
    .write\
    .partitionBy('reg_date')\
    .format('csv')\
    .options(header='True', sep=';')\
    .csv('data/final_partitioned')

print_df = final.select('reg_date').distinct()
print(f'Load_date distinct: {print_df.count()}')

Load_date distinct: 8

In [30]:
# Сохранения с партицированием и repartition внутри самой партиции
final\
    .repartition(1, 'reg_date')\
    .write\
    .partitionBy('reg_date')\
    .format('csv')\
    .options(header='True', sep=';')\
    .csv('data/final_partitioned_repart')

partition_num = final.repartition(1, 'reg_date').rdd.getNumPartitions()
print(f'Кол-во партиций {partition_num}')

Кол-во партиций 1

In [31]:
# coalesce VS repartition

final\
    .coalesce(1)\
    .write\
    .partitionBy('reg_date')\
    .format('csv')\
    .options(header='True', sep=';')\
    .csv('data/final_partitioned_coalesce')

partition_num = final.repartition(1, 'reg_date').rdd.getNumPartitions()
print(f'Кол-во партиций {partition_num}')

# repartition - распределяет файлы равномерно. Делает shuffle
# coalesce - объединяет данные как есть

Кол-во партиций 1

### Read Transformed

In [32]:
reader_no_control = spark\
                        .read\
                        .csv('data/final_no_control/', header=True, sep=';')\
                        .where(''' reg_date = "2024-01-10" ''')

reader_final_one_file = spark\
                            .read\
                            .csv('data/final_one_file/', header=True, sep=';')\
                            .where(''' reg_date = "2024-01-10" ''')

reader_partitioned = spark\
                        .read\
                        .csv('data/final_partitioned', header=True, sep=';')\
                        .where(''' reg_date = "2024-01-10" ''')

reader_partitioned_repart = spark\
                                .read\
                                .csv('data/final_partitioned_repart', header=True, sep=';')\
                                .where(''' reg_date = "2024-01-10" ''')

print(reader_no_control.count())
print(reader_final_one_file.count())
print(reader_partitioned.count())
print(reader_partitioned_repart.count())

3598
3598
3598
3598

### JOIN

In [33]:
data = [
    (0,     5000,   "низкая"),
    (5001,  10000,  "средняя"),
    (10001, 20000,  "высокая"),
    (20001, 999999, "очень высокая")
]

salary_levels_df = spark.createDataFrame(data, schema="min_salary long, max_salary long, level string")
salary_levels_df.show()

order_data = spark.read.csv('data/orders.csv', header=True, sep=',', inferSchema=True)

order_data.show(4)

+----------+----------+-------------+
|min_salary|max_salary|        level|
+----------+----------+-------------+
|         0|      5000|       низкая|
|      5001|     10000|      средняя|
|     10001|     20000|      высокая|
|     20001|    999999|очень высокая|
+----------+----------+-------------+

+-----------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+----------+-----------------+--------------------+------+------------+
|             name|               email|             address|  registration_date|               phone|             company|                 job| birthdate|          country|                uuid|salary|country_code|
+-----------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+----------+-----------------+--------------------+------+------------+
|Jermaine Espinoza|  fbaker@example.org|634 Gonzalez Inle...|2024-05-31 21:00:00| +1-605-744-8478x494|           Baker Ltd| Broadcast presenter|1985-01-12|       Azerbaijan|9c482b2e-b191-446...| 10350|          HT|
|    Lauren Thomas|alfredwaters@exam...|26631 Jill Juncti...|2024-03-11 21:00:00|        722.209.9393|   Castillo-Valencia|      Dramatherapist|1965-10-31|         Barbados|ca0d3252-e65c-43a...|  8000|          TF|
|  James Gutierrez|carmen78@example.com|01077 Wilson Viad...|2024-09-02 21:00:00|001-458-508-9427x...|Dean, Hall and Si...|Development worke...|1993-10-28|       Kazakhstan|6a625dc7-238f-4cb...| 15900|          GM|
|       Kyle Kline|zgonzalez@example...|54247 Phillips Fo...|2024-05-31 21:00:00|001-579-863-8127x...|Nelson, Zhang and...|Print production ...|1964-05-26|Equatorial Guinea|0f05ddba-d193-416...|  8300|          KM|
+-----------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+----------+-----------------+--------------------+------+------------+
only showing top 4 rows

In [34]:
# Отключим автоматический Broadcast JOIN
import time
spark.conf.set("spark.sql.autoBroadcastJoinThreshold", -1)

In [35]:
# Замерим выполнение запроса без broadcast join

spark.conf.set("spark.sql.autoBroadcastJoinThreshold", -1)

start_time = time.time()

order_data = order_data.withColumn("salary", F.col("salary").cast("long"))

joined = order_data.join(
    salary_levels_df,
    (order_data.salary >= salary_levels_df.min_salary) & (order_data.salary <= salary_levels_df.max_salary),
    how="left"
)

joined.count()
end_time = time.time()
print(f"Elapsed time for join operation: {end_time - start_time:.2f} seconds")
joined.show()

Elapsed time for join operation: 0.89 seconds
+-----------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+----------+--------------------+--------------------+------+------------+----------+----------+-------+
|             name|               email|             address|  registration_date|               phone|             company|                 job| birthdate|             country|                uuid|salary|country_code|min_salary|max_salary|  level|
+-----------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+----------+--------------------+--------------------+------+------------+----------+----------+-------+
|Jermaine Espinoza|  fbaker@example.org|634 Gonzalez Inle...|2024-05-31 21:00:00| +1-605-744-8478x494|           Baker Ltd| Broadcast presenter|1985-01-12|          Azerbaijan|9c482b2e-b191-446...| 10350|          HT|     10001|     20000|высокая|
|    Lauren Thomas|alfredwaters@exam...|26631 Jill Juncti...|2024-03-11 21:00:00|        722.209.9393|   Castillo-Valencia|      Dramatherapist|1965-10-31|            Barbados|ca0d3252-e65c-43a...|  8000|          TF|      5001|     10000|средняя|
|  James Gutierrez|carmen78@example.com|01077 Wilson Viad...|2024-09-02 21:00:00|001-458-508-9427x...|Dean, Hall and Si...|Development worke...|1993-10-28|          Kazakhstan|6a625dc7-238f-4cb...| 15900|          GM|     10001|     20000|высокая|
|       Kyle Kline|zgonzalez@example...|54247 Phillips Fo...|2024-05-31 21:00:00|001-579-863-8127x...|Nelson, Zhang and...|Print production ...|1964-05-26|   Equatorial Guinea|0f05ddba-d193-416...|  8300|          KM|      5001|     10000|средняя|
|     Rhonda Foley|jonathan92@exampl...|1234 Cox Light Su...|2024-08-29 21:00:00|        513-361-0719|        White-Oneill|  Academic librarian|2006-08-07|               Korea|757b9bd8-1aa7-424...|  2300|          LV|         0|      5000| низкая|
|      Kyle Watson|ryanbarron@exampl...|518 Adams Junctio...|2024-05-28 21:00:00|   476-776-5078x2432|Solomon, Moore an...|Clothing/textile ...|1998-01-16|              Bhutan|425adba2-c30b-45c...|  7150|          CZ|      5001|     10000|средняя|
|    Amy Mcfarland|alvaradoadam@exam...|021 Jordan Wall, ...|2024-05-28 21:00:00|   517-897-7421x9848|      Dawson-Hensley|Commissioning editor|1992-10-15|            Guernsey|92c6c55e-bb76-4f9...|  3000|          BY|         0|      5000| низкая|
| Angela Mcpherson|charleserickson@e...|9953 Silva Ville ...|2024-09-02 21:00:00| +1-207-529-2129x002|         King-Bailey|Audiological scie...|1994-05-20|              Canada|ea2d6a30-88e8-435...| 10350|          FO|     10001|     20000|высокая|
|      John Sparks|aguirrethomas@exa...|6488 Bernard Mill...|2024-01-09 21:00:00|    447.276.7449x063|    Bonilla-Mccarthy|       Meteorologist|1987-09-21|    Christmas Island|f3d44b10-e23e-4ff...| 13350|          MT|     10001|     20000|высокая|
| Madison Chambers|natalie43@example...|74333 Graham Via ...|2024-09-02 21:00:00|  680-540-2534x29453|Burgess, Williams...|Control and instr...|1966-04-09|               Samoa|a777a93d-b214-4c3...|  2000|          HM|         0|      5000| низкая|
|        Megan Day| cmalone@example.org|4358 Turner River...|2024-04-03 21:00:00|+1-898-862-7028x5398|Singleton, Hughes...|Television camera...|1985-10-20|           Venezuela|2938384d-1b0b-47d...| 18300|          BR|     10001|     20000|высокая|
|      James Gomez|smartinez@example...|3453 Bryan Trail,...|2024-08-29 21:00:00|          6296247845|Bolton, Hall and ...|   Freight forwarder|1983-12-22|Holy See (Vatican...|d280de90-2b71-41d...| 14850|          AS|     10001|     20000|высокая|
|  Kenneth Johnson|samantha49@exampl...|USCGC Alvarado, F...|2024-01-09 21:00:00|          8952051792|        Castillo-Day|  Wellsite geologist|1970-05-16|             Germany|ce9a7e18-c84d-4bc...| 11550|          FI|     10001|     20000|высокая|
|        Sara Vega|michelechen@examp...|65080 Martinez Fr...|2024-02-22 21:00:00|       (850)284-8908|Sullivan, Stephen...|Customer service ...|1968-10-25|            Suriname|89fe98ae-6f1d-436...| 19100|          MA|     10001|     20000|высокая|
|      Alan Martin| zhunter@example.com|41781 Lloyd Ports...|2024-08-29 21:00:00|        297-935-8388|         Jones Group|      Energy manager|1977-05-19|          Montenegro|49ace390-070e-47f...| 14150|          CW|     10001|     20000|высокая|
|     Kylie Conner|linamanda@example...|19553 Conner Driv...|2024-08-29 21:00:00|   (205)800-9320x880|Caldwell, Barker ...|Water quality sci...|1995-06-03|       Cote d'Ivoire|48293cde-1164-471...|  9050|          AI|      5001|     10000|средняя|
| Felicia Campbell| julia49@example.org|707 Lisa Keys Sui...|2024-03-11 21:00:00|+1-684-904-5939x1626|Simon, Murray and...|Nutritional thera...|1967-06-22|     Kyrgyz Republic|4d6dc773-ae78-4bf...|  4850|          TO|         0|      5000| низкая|
|      Kellie Wolf|  tadams@example.com|313 Sloan Plaza, ...|2024-08-29 21:00:00|+1-931-409-4930x0...|   Gonzalez-Cummings|Journalist, broad...|1999-01-28|         Switzerland|3f42df36-a084-413...| 15250|          CO|     10001|     20000|высокая|
|      Shawn Garza| kevin03@example.net|2470 Goodman Lodg...|2024-04-03 21:00:00|        279.629.6598|        Williams LLC|   Recycling officer|1989-11-23|             Comoros|06c2762f-053b-4e0...| 15450|          KN|     10001|     20000|высокая|
|   Michael Castro|   jmora@example.net|334 Tucker Glen, ...|2024-04-03 21:00:00|          6574114030|      Werner-Navarro|        Retail buyer|1974-06-06|             Iceland|7ee0b48c-cf7f-47c...| 18800|          NE|     10001|     20000|высокая|
+-----------------+--------------------+--------------------+-------------------+--------------------+--------------------+--------------------+----------+--------------------+--------------------+------+------------+----------+----------+-------+
only showing top 20 rows

In [36]:
# Замерим выполнение запроса c broadcast join

spark.conf.set("spark.sql.autoBroadcastJoinThreshold", 1)

start_time = time.time()

order_data = order_data.withColumn("salary", F.col("salary").cast("long"))

joined = order_data.join(
    F.broadcast(salary_levels_df),
    (order_data.salary >= salary_levels_df.min_salary) & (order_data.salary <= salary_levels_df.max_salary),
    how="left"
)

joined.count()

end_time = time.time()

print(f"Elapsed time for broadcast join operation: {end_time - start_time:.2f} seconds")

Elapsed time for broadcast join operation: 2.20 seconds

### Cache | Persist

In [37]:
order_data.cache().count()

3600000

In [38]:
order_data.unpersist()

DataFrame[name: string, email: string, address: string, registration_date: timestamp, phone: string, company: string, job: string, birthdate: string, country: string, uuid: string, salary: bigint, country_code: string]

In [39]:
from pyspark.storagelevel import StorageLevel

order_data.persist(StorageLevel.DISK_ONLY).count()

3600000

### Repartition & Coalesce

In [40]:
data = [(1,'one'), (2,'two'), (3,'three'), (4,'four'),
        (5,'five'), (6,'six'), (7, 'seven'), (8, 'eight'),
        (9, 'nine')]

df = spark.createDataFrame(data, ['id', 'number'])

df.show()

+---+------+
| id|number|
+---+------+
|  1|   one|
|  2|   two|
|  3| three|
|  4|  four|
|  5|  five|
|  6|   six|
|  7| seven|
|  8| eight|
|  9|  nine|
+---+------+

In [41]:
# Намеренно перемешаем и поделим на 8 разделов
mix = df.repartition(4)
mix.rdd.glom().collect()

[[Row(id=9, number='nine')],
 [],
 [],
 [Row(id=3, number='three'),
  Row(id=7, number='seven'),
  Row(id=5, number='five'),
  Row(id=2, number='two'),
  Row(id=1, number='one'),
  Row(id=6, number='six'),
  Row(id=4, number='four'),
  Row(id=8, number='eight')]]

In [42]:
mix.repartition(3).rdd.glom().collect()

[[Row(id=4, number='four'),
  Row(id=9, number='nine'),
  Row(id=5, number='five'),
  Row(id=6, number='six')],
 [Row(id=2, number='two'), Row(id=1, number='one')],
 [Row(id=3, number='three'),
  Row(id=7, number='seven'),
  Row(id=8, number='eight')]]

In [43]:
mix.coalesce(3).rdd.glom().collect()

[[Row(id=9, number='nine')],
 [],
 [Row(id=3, number='three'),
  Row(id=7, number='seven'),
  Row(id=2, number='two'),
  Row(id=6, number='six'),
  Row(id=4, number='four'),
  Row(id=8, number='eight'),
  Row(id=1, number='one'),
  Row(id=5, number='five')]]

In [44]:
# mix.toPandas().head()

In [45]:
# OUT OF MEMORY

d = spark.read.csv('data/orders.csv', header=True, sep='\t')
d.collect()

[Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Jermaine Espinoza,fbaker@example.org,"634 Gonzalez Inlet Suite 238, South Trevormouth, VA 19774",2024-06-01T00:00:00.000+03:00,+1-605-744-8478x494,Baker Ltd,Broadcast presenter,1985-01-12,Azerbaijan,9c482b2e-b191-4462-bee4-b5dda215e792,10350,HT'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Lauren Thomas,alfredwaters@example.com,"26631 Jill Junction, Sandersborough, GA 60912",2024-03-12T00:00:00.000+03:00,722.209.9393,Castillo-Valencia,Dramatherapist,1965-10-31,Barbados,ca0d3252-e65c-43aa-b557-8d5efe5f60bb,8000,TF'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='James Gutierrez,carmen78@example.com,"01077 Wilson Viaduct, West Heather, NV 03145",2024-09-03T00:00:00.000+03:00,001-458-508-9427x3274,"Dean, Hall and Simmons","Development worker, community",1993-10-28,Kazakhstan,6a625dc7-238f-4cbc-8368-f3a33ec291c6,15900,GM'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Kyle Kline,zgonzalez@example.net,"54247 Phillips Forest, Simmonsview, CT 26557",2024-06-01T00:00:00.000+03:00,001-579-863-8127x73535,"Nelson, Zhang and Robinson",Print production planner,1964-05-26,Equatorial Guinea,0f05ddba-d193-416f-a8dd-2be953d8c8a4,8300,KM'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Rhonda Foley,jonathan92@example.org,"1234 Cox Light Suite 381, Brownfurt, NV 24776",2024-08-30T00:00:00.000+03:00,513-361-0719,White-Oneill,Academic librarian,2006-08-07,Korea,757b9bd8-1aa7-4241-9710-77d285870a2d,2300,LV'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Kyle Watson,ryanbarron@example.net,"518 Adams Junction, Lake Dawn, GU 67031",2024-05-29T00:00:00.000+03:00,476-776-5078x2432,"Solomon, Moore and White",Clothing/textile technologist,1998-01-16,Bhutan,425adba2-c30b-45cf-b18d-a37414425fb2,7150,CZ'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Amy Mcfarland,alvaradoadam@example.org,"021 Jordan Wall, North Cynthia, LA 89021",2024-05-29T00:00:00.000+03:00,517-897-7421x9848,Dawson-Hensley,Commissioning editor,1992-10-15,Guernsey,92c6c55e-bb76-4f96-926e-7676db392ae6,3000,BY'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Angela Mcpherson,charleserickson@example.net,"9953 Silva Ville Apt. 591, Williamsville, WA 02562",2024-09-03T00:00:00.000+03:00,+1-207-529-2129x002,King-Bailey,Audiological scientist,1994-05-20,Canada,ea2d6a30-88e8-4356-802a-f339f71f9b79,10350,FO'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='John Sparks,aguirrethomas@example.org,"6488 Bernard Mill Suite 158, West Kristen, FM 62114",2024-01-10T00:00:00.000+03:00,447.276.7449x063,Bonilla-Mccarthy,Meteorologist,1987-09-21,Christmas Island,f3d44b10-e23e-4ff9-84f0-82d1dbbfee15,13350,MT'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Madison Chambers,natalie43@example.com,"74333 Graham Via Suite 553, Jacquelinebury, NH 67031",2024-09-03T00:00:00.000+03:00,680-540-2534x29453,"Burgess, Williams and Cooley",Control and instrumentation engineer,1966-04-09,Samoa,a777a93d-b214-4c3a-84b6-5269f7e683e4,2000,HM'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Megan Day,cmalone@example.org,"4358 Turner River, Michaelberg, KS 23240",2024-04-04T00:00:00.000+03:00,+1-898-862-7028x5398,"Singleton, Hughes and Zamora",Television camera operator,1985-10-20,Venezuela,2938384d-1b0b-47d7-b822-4d95c64c00b1,18300,BR'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='James Gomez,smartinez@example.net,"3453 Bryan Trail, Lake Jason, WY 40677",2024-08-30T00:00:00.000+03:00,6296247845,"Bolton, Hall and Smith",Freight forwarder,1983-12-22,Holy See (Vatican City State),d280de90-2b71-41d4-b0f7-087dce80d40c,14850,AS'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Kenneth Johnson,samantha49@example.net,"USCGC Alvarado, FPO AA 31839",2024-01-10T00:00:00.000+03:00,8952051792,Castillo-Day,Wellsite geologist,1970-05-16,Germany,ce9a7e18-c84d-4bcc-8964-7f23f98155b5,11550,FI'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Sara Vega,michelechen@example.org,"65080 Martinez Freeway Suite 346, Brittanyside, UT 67235",2024-02-23T00:00:00.000+03:00,(850)284-8908,"Sullivan, Stephens and Maynard",Customer service manager,1968-10-25,Suriname,89fe98ae-6f1d-4366-857e-b78c49eb0ff0,19100,MA'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Alan Martin,zhunter@example.com,"41781 Lloyd Ports Apt. 453, Leehaven, SD 79891",2024-08-30T00:00:00.000+03:00,297-935-8388,Jones Group,Energy manager,1977-05-19,Montenegro,49ace390-070e-47f1-a146-ce539dce198d,14150,CW'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Kylie Conner,linamanda@example.org,"19553 Conner Drives, Wrightmouth, PR 63754",2024-08-30T00:00:00.000+03:00,(205)800-9320x880,"Caldwell, Barker and Collins",Water quality scientist,1995-06-03,Cote d\'Ivoire,48293cde-1164-471c-8faf-ed9eb157ed0e,9050,AI'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Felicia Campbell,julia49@example.org,"707 Lisa Keys Suite 683, Johnton, DE 88910",2024-03-12T00:00:00.000+03:00,+1-684-904-5939x1626,"Simon, Murray and Martinez",Nutritional therapist,1967-06-22,Kyrgyz Republic,4d6dc773-ae78-4bf0-900e-bacd517d8f49,4850,TO'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Kellie Wolf,tadams@example.com,"313 Sloan Plaza, Pamelaton, UT 76482",2024-08-30T00:00:00.000+03:00,+1-931-409-4930x02398,Gonzalez-Cummings,"Journalist, broadcasting",1999-01-28,Switzerland,3f42df36-a084-4134-8a9b-e924ec599b31,15250,CO'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Shawn Garza,kevin03@example.net,"2470 Goodman Lodge Apt. 830, Jeffreyberg, NM 90144",2024-04-04T00:00:00.000+03:00,279.629.6598,Williams LLC,Recycling officer,1989-11-23,Comoros,06c2762f-053b-4e01-80a5-450f3f0513fb,15450,KN'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Michael Castro,jmora@example.net,"334 Tucker Glen, South Tracy, ME 52635",2024-04-04T00:00:00.000+03:00,6574114030,Werner-Navarro,Retail buyer,1974-06-06,Iceland,7ee0b48c-cf7f-47c7-8c39-7db311c1ef29,18800,NE'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Anthony Hernandez,kristi96@example.com,"PSC 2269, Box 1040, APO AE 50920",2024-02-23T00:00:00.000+03:00,(331)906-2027x035,"Estrada, Michael and Powell",Commissioning editor,1994-11-04,Montenegro,a01178de-6a34-48f8-a524-bf9e19d9e40a,19050,MO'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Keith Todd,elizabeth69@example.com,"PSC 7574, Box 3532, APO AP 73531",2024-02-23T00:00:00.000+03:00,377.557.8862,"Johnson, Hudson and Hale",Trade mark attorney,1997-07-09,Namibia,1831e9ff-e0f9-4087-bd0a-e7c4f55a1ec3,13450,KM'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Austin Hines,kelsey97@example.org,"383 Stephanie Crescent, Lake Denisehaven, ID 62290",2024-09-03T00:00:00.000+03:00,(653)817-3811,"Compton, Doyle and Bailey",Sales promotion account executive,1992-07-19,Tuvalu,18443ee3-6f10-4f8b-8c26-dd2baad86968,13700,KI'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Kelly Mills,melindaelliott@example.net,"6935 Richard Glen, New Jill, AL 68740",2024-09-03T00:00:00.000+03:00,887.870.2343x1272,"Watson, Mendoza and Watkins","Editor, commissioning",1986-06-03,Saint Pierre and Miquelon,3b10832e-d99a-48f4-867d-22ce251b03a7,9200,CX'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Jaclyn Poole,nathanblack@example.org,"40358 Melissa Field Apt. 926, North Jaredmouth, PR 31660",2024-02-23T00:00:00.000+03:00,+1-614-968-4601x9017,Chen PLC,"Engineer, mining",1967-07-08,Afghanistan,9527bb9a-cc03-4705-8b3b-9851101b05d4,14650,NO'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Donna Chen,wayne40@example.net,"4105 Lawrence Park, Crosstown, GA 18881",2024-01-10T00:00:00.000+03:00,584.959.9553,Lopez Group,Ecologist,2006-08-02,Wallis and Futuna,bcf4bbb5-6cea-43a6-bb73-02aa102c539f,16000,BS'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Sara Parker,imoreno@example.net,"516 Campbell Isle, Vasquezview, IN 31109",2024-09-03T00:00:00.000+03:00,882.621.8093x1614,Price-English,Careers adviser,1976-06-06,Algeria,be05268f-a323-4943-bd0c-4bfd291629ea,11950,IL'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Jonathan Johnson,matthewcook@example.org,"39333 Olson Fields, Moonville, PR 75236",2024-01-10T00:00:00.000+03:00,505.874.2285x150,Cook-Gutierrez,"Engineer, technical sales",1963-10-02,Bahrain,427d7fc7-5994-4072-8b99-00a63ae38f34,11950,SL'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Johnny Green,andrew21@example.com,"876 Webb Islands, Tracyfort, WV 78818",2024-08-30T00:00:00.000+03:00,+1-295-835-9133x269,"Bowman, Wagner and Stone",Counsellor,1991-12-22,Faroe Islands,2b0c7d6f-bf2a-423f-a887-31548881d849,17950,SH'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Alex Barry,aguerrero@example.com,"40833 Mark Plains Apt. 341, Garretttown, RI 60907",2024-06-01T00:00:00.000+03:00,+1-301-931-1038x7389,Wilson PLC,Radio producer,1989-08-14,Marshall Islands,0063eb2a-e659-4c56-ad31-db09c9582185,17150,CR'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Sylvia Walker,ymorrow@example.net,"735 Jenkins Inlet Suite 008, Kimberlybury, MH 16996",2024-05-29T00:00:00.000+03:00,8937969754,Shaw-Holland,Banker,1996-10-08,Sri Lanka,7d863983-4fde-452f-8cd9-fe202789d48e,2350,UA'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Jaclyn Ellis,jessica02@example.net,"3226 Figueroa Harbor Suite 486, Wilsonton, VT 48692",2024-01-10T00:00:00.000+03:00,001-609-783-6666x39887,Owen Inc,"Administrator, Civil Service",1993-11-07,Marshall Islands,23fe24a2-af6a-4e16-ad0f-59ad45f12f40,5800,BR'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Mary Williams,fwilson@example.com,"528 Jamie Junctions, Davidtown, DE 82885",2024-03-12T00:00:00.000+03:00,001-224-817-6458x73927,"Cruz, Fowler and Holmes","Engineer, energy",1993-10-25,Guyana,d69a9338-7f4f-42c3-80b7-cdd0b5a5658e,3200,IO'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Eric Jones,nharris@example.org,"24168 Tonya Mountains Suite 398, West Wendy, OK 85412",2024-08-30T00:00:00.000+03:00,001-319-872-2374x272,Mendez and Sons,Corporate investment banker,1987-11-01,Croatia,9ea7d8ee-117a-4c04-9e28-273c3edcd463,13200,RO'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Brian Maxwell,drewhoward@example.org,"08102 Brown Summit, South Lisa, MA 30905",2024-04-04T00:00:00.000+03:00,(978)818-4302x350,Martin Group,Facilities manager,1967-10-24,Equatorial Guinea,84a03537-0bfa-4694-af0b-240bf6906189,8300,VI'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='David Baker,uruiz@example.com,"3105 Walker Parkways, New Joseph, CA 39880",2024-05-29T00:00:00.000+03:00,885.662.5190x1058,"Adams, Garcia and Davis",Best boy,1973-12-08,Antarctica (the territory South of 60 deg S),5c3f0be6-327a-4037-95d8-183d282d5ad8,3550,SO'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Carlos Davis,ukidd@example.org,"63936 Teresa Drive, South Jessechester, IL 86814",2024-06-01T00:00:00.000+03:00,+1-933-438-9077x2985,Cole-Chapman,Airline pilot,1991-09-30,Marshall Islands,65df4a0f-bca5-4dcd-8f2f-689312625a33,4600,KE'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Kyle Garcia,tasha27@example.org,"6957 Jill Ports, North George, SC 14835",2024-01-10T00:00:00.000+03:00,9112158740,"Nunez, Benjamin and Barnes",Haematologist,1996-09-21,Japan,d65f5eaa-9e59-4905-ae42-27cc3d93f5b0,3300,BM'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Amanda Martinez,normanboyd@example.com,"007 Paula Circle, Sylviaport, MS 12206",2024-08-30T00:00:00.000+03:00,(859)877-3299x750,Smith Inc,Chartered loss adjuster,1997-07-25,Cyprus,b58362c9-7cec-453f-9e99-6741918bebba,19300,VU'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Sarah Garcia,ugomez@example.com,"USNS Garrett, FPO AE 72127",2024-09-03T00:00:00.000+03:00,341-618-4432x6111,"Mccoy, Small and Hill","Engineer, site",1994-06-24,Algeria,d3da1e77-7d79-4ec7-9fb8-5bbca93bb233,18700,KN'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Matthew Jensen,garciajohn@example.org,"59812 Jane Club Apt. 860, Michealbury, AZ 22199",2024-02-23T00:00:00.000+03:00,001-762-560-7112x7719,"Williams, Kaufman and Castillo","Accountant, chartered",1983-04-28,Andorra,913c07ec-ddeb-4dc1-aa90-1726f1d6fdea,6750,MH'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Christopher Juarez,william74@example.net,"83841 Robert Oval, Shaffershire, NC 00796",2024-04-04T00:00:00.000+03:00,+1-921-324-7874x148,"Mckinney, Mason and Smith",Secretary/administrator,1981-12-05,Azerbaijan,3e86f837-cc33-42c6-ac97-e18c1b6fa6ae,3100,MG'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Pamela Smith,brandonestrada@example.net,"65020 Latoya Plains, Brianfurt, NV 96656",2024-09-03T00:00:00.000+03:00,+1-630-471-9349x5676,Whitehead Ltd,Lawyer,2005-12-19,Congo,827f4033-3752-41e4-8879-a53aa680e5d0,16850,IO'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Jessica Miller,jason46@example.org,"85563 Garrison Isle Apt. 485, Brianborough, ND 85989",2024-02-23T00:00:00.000+03:00,447-271-5300,"Hill, Patterson and Marsh",Research scientist (medical),2004-11-21,Seychelles,34d29932-febe-41e7-a817-b2686d5e7650,10750,SD'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Ryan Good,zharrison@example.com,"2609 Miller Corner, East Crystal, MO 64771",2024-09-03T00:00:00.000+03:00,(400)220-5485x21189,"Huerta, Torres and Moore",Veterinary surgeon,1994-11-26,San Marino,202c3a41-32f7-4216-90fd-f64cdc756ae1,13200,CO'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Susan Ellis,carrillochristopher@example.com,"328 Mullins Shoals, Cynthiafort, NM 65174",2024-01-10T00:00:00.000+03:00,860.881.6542,"Glover, Vaughn and Austin",Proofreader,1982-08-16,Angola,4ab0e69b-a0ce-4845-96a2-4323c43900c1,6200,IT'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Cody Finley,william45@example.com,"638 Cory Avenue Apt. 660, East Megan, HI 36786",2024-08-30T00:00:00.000+03:00,001-747-382-6825,"Marks, White and Klein","Surveyor, minerals",1985-04-10,Burkina Faso,55818295-383a-4a0a-b885-ea1e7ca8a5b1,10950,DM'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Kelly Marsh,lindseyjohnston@example.org,"55322 John Underpass Apt. 004, Birdburgh, PW 22422",2024-01-10T00:00:00.000+03:00,(758)319-2244x0591,Hughes-Delgado,Oncologist,1998-08-29,Venezuela,b2fb457a-9303-4428-8a9b-d82f9c7cf503,8000,AO'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Dr. Cynthia Palmer,zharrison@example.org,"9880 Morgan Ferry, Avilashire, CT 66856",2024-02-23T00:00:00.000+03:00,865-229-9341x3464,Norris Inc,Soil scientist,1981-11-05,Thailand,0b67be06-548b-41b6-9d7d-94bce94d4924,18350,BA'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Dana Bailey,elizabeth09@example.com,"Unit 5654 Box 0065, DPO AP 11274",2024-02-23T00:00:00.000+03:00,655-385-5042x40818,Lopez-Smith,"Administrator, Civil Service",1965-11-03,Belgium,1b7c25e1-81cc-45cc-8f1a-d71d276a5ce3,10850,VG'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Michael Sanchez,matthewschristopher@example.net,"509 Billy Common Apt. 587, Stuartland, VT 87346",2024-06-01T00:00:00.000+03:00,666.378.7648x8054,"Gibbs, Mclean and Poole","Scientist, product/process development",1984-03-02,South Georgia and the South Sandwich Islands,31187ac1-ad50-4322-86bb-aa9aea54ca1e,10400,CH'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='William Edwards,joelvance@example.org,"3152 Natasha Passage Apt. 543, West Stacey, HI 58291",2024-05-29T00:00:00.000+03:00,(318)794-4479,"Garcia, Hall and Martinez",Barrister\'s clerk,1983-05-26,Macao,7616b75a-cac5-4f13-bd4b-362594149260,13550,PA'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Brandon Vazquez,sarahhooper@example.net,"1320 Harrell Extension, Jamesmouth, UT 54433",2024-01-10T00:00:00.000+03:00,961.692.5997x440,"Nelson, Whitaker and Flores",Social worker,2007-04-10,Tajikistan,ab5b1f4c-92aa-481b-85af-aaf46eb0e635,6100,VI'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Ricky Sandoval,oliviashort@example.com,"54306 Rick Burgs, New Debrastad, AS 81127",2024-09-03T00:00:00.000+03:00,(251)944-5391,Davis LLC,"Scientist, research (life sciences)",1993-10-15,Marshall Islands,84a3a4c0-392a-4774-87d4-396279851a1d,16550,GP'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Levi Mckinney,timothywalker@example.net,"785 Cruz Gateway Apt. 105, Richardville, ND 66491",2024-04-04T00:00:00.000+03:00,5772056484,"Acosta, Turner and Carlson",Barista,1970-07-27,Algeria,ddd8016c-1873-45f9-9f8e-20cf22d334d1,18750,PW'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Joseph Hancock,yolandawilson@example.net,"6944 Jason Squares, Sarahland, UT 69520",2024-05-29T00:00:00.000+03:00,(540)341-3911,"Lane, Lee and White","Scientist, physiological",1963-04-13,United States of America,b17f5e06-023b-42c0-bf1f-355e61585f21,5350,FJ'),
 Row(name,email,address,registration_date,phone,company,job,birthdate,country,uuid,salary,country_code='Blake Huerta,tayloralan@example.com,"1251 Kristie Club Suite 156, Port Sonya, NY 56676",2024-09-03T00:00:00.000+03:00,709-694-0002,Diaz Inc,"Producer, radio",1989-09-01,Canada,ac66eb1e-ad5e-42f8-9d50-ce3ebfd65e3b,8600,ZA'),

In [46]:
dl = list()

In [ ]:
try:
    while True:
        dl.append(spark.read.csv('data/orders.csv', header=True, sep='\t').collect())
finally:
    print(len(dl))

In [ ]:
# spark.stop()

In [ ]:
# import os
# import sys

# sys.executable