# Домашнее задание 5

### Запуск SparkSession

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F


spark = SparkSession \
            .builder \
            .appName("pyspark_local") \
            .config("spark.driver.memory", "4g") \
            .config("spark.executor.memory", "2g") \
            .config("spark.executor.cores", "2") \
    .getOrCreate()

sc = spark.sparkContext

print("Активные Spark сессии:", spark.sparkContext.uiWebUrl)
sc

25/07/22 17:33:16 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Активные Spark сессии: http://16ecfb548f4b:4040

### Чтение данных

In [2]:
PATH = 'data/orders.csv'
orig_df = spark.read.csv(PATH, sep=',', header=True)
orig_df.printSchema()

root
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- company: string (nullable = true)
 |-- job: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- country: string (nullable = true)
 |-- uuid: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- country_code: string (nullable = true)

In [3]:
orig_df.show(10, truncate=False)

+-----------------+---------------------------+---------------------------------------------------------+-----------------------------+----------------------+----------------------------+------------------------------------+----------+-----------------+------------------------------------+------+------------+
|name             |email                      |address                                                  |registration_date            |phone                 |company                     |job                                 |birthdate |country          |uuid                                |salary|country_code|
+-----------------+---------------------------+---------------------------------------------------------+-----------------------------+----------------------+----------------------------+------------------------------------+----------+-----------------+------------------------------------+------+------------+
|Jermaine Espinoza|fbaker@example.org         |634 Gonzalez Inlet Suite 238, South Trevormouth, VA 19774|2024-06-01T00:00:00.000+03:00|+1-605-744-8478x494   |Baker Ltd                   |Broadcast presenter                 |1985-01-12|Azerbaijan       |9c482b2e-b191-4462-bee4-b5dda215e792|10350 |HT          |
|Lauren Thomas    |alfredwaters@example.com   |26631 Jill Junction, Sandersborough, GA 60912            |2024-03-12T00:00:00.000+03:00|722.209.9393          |Castillo-Valencia           |Dramatherapist                      |1965-10-31|Barbados         |ca0d3252-e65c-43aa-b557-8d5efe5f60bb|8000  |TF          |
|James Gutierrez  |carmen78@example.com       |01077 Wilson Viaduct, West Heather, NV 03145             |2024-09-03T00:00:00.000+03:00|001-458-508-9427x3274 |Dean, Hall and Simmons      |Development worker, community       |1993-10-28|Kazakhstan       |6a625dc7-238f-4cbc-8368-f3a33ec291c6|15900 |GM          |
|Kyle Kline       |zgonzalez@example.net      |54247 Phillips Forest, Simmonsview, CT 26557             |2024-06-01T00:00:00.000+03:00|001-579-863-8127x73535|Nelson, Zhang and Robinson  |Print production planner            |1964-05-26|Equatorial Guinea|0f05ddba-d193-416f-a8dd-2be953d8c8a4|8300  |KM          |
|Rhonda Foley     |jonathan92@example.org     |1234 Cox Light Suite 381, Brownfurt, NV 24776            |2024-08-30T00:00:00.000+03:00|513-361-0719          |White-Oneill                |Academic librarian                  |2006-08-07|Korea            |757b9bd8-1aa7-4241-9710-77d285870a2d|2300  |LV          |
|Kyle Watson      |ryanbarron@example.net     |518 Adams Junction, Lake Dawn, GU 67031                  |2024-05-29T00:00:00.000+03:00|476-776-5078x2432     |Solomon, Moore and White    |Clothing/textile technologist       |1998-01-16|Bhutan           |425adba2-c30b-45cf-b18d-a37414425fb2|7150  |CZ          |
|Amy Mcfarland    |alvaradoadam@example.org   |021 Jordan Wall, North Cynthia, LA 89021                 |2024-05-29T00:00:00.000+03:00|517-897-7421x9848     |Dawson-Hensley              |Commissioning editor                |1992-10-15|Guernsey         |92c6c55e-bb76-4f96-926e-7676db392ae6|3000  |BY          |
|Angela Mcpherson |charleserickson@example.net|9953 Silva Ville Apt. 591, Williamsville, WA 02562       |2024-09-03T00:00:00.000+03:00|+1-207-529-2129x002   |King-Bailey                 |Audiological scientist              |1994-05-20|Canada           |ea2d6a30-88e8-4356-802a-f339f71f9b79|10350 |FO          |
|John Sparks      |aguirrethomas@example.org  |6488 Bernard Mill Suite 158, West Kristen, FM 62114      |2024-01-10T00:00:00.000+03:00|447.276.7449x063      |Bonilla-Mccarthy            |Meteorologist                       |1987-09-21|Christmas Island |f3d44b10-e23e-4ff9-84f0-82d1dbbfee15|13350 |MT          |
|Madison Chambers |natalie43@example.com      |74333 Graham Via Suite 553, Jacquelinebury, NH 67031     |2024-09-03T00:00:00.000+03:00|680-540-2534x29453    |Burgess, Williams and Cooley|Control and instrumentation engineer|1966-04-09|Samoa            |a777a93d-b214-4c3a-84b6-5269f7e683e4|2000  |HM          |
+-----------------+---------------------------+---------------------------------------------------------+-----------------------------+----------------------+----------------------------+------------------------------------+----------+-----------------+------------------------------------+------+------------+
only showing top 10 rows

### Data Preparation

In [4]:
df = orig_df \
    .withColumn('registration_date', F.col('registration_date').cast('date')) \
    .withColumn('birthdate', F.col('birthdate').cast('date')) \
    .withColumn('salary', F.col('salary').cast('long'))\
    .alias('orders')

df.printSchema()

root
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: date (nullable = true)
 |-- phone: string (nullable = true)
 |-- company: string (nullable = true)
 |-- job: string (nullable = true)
 |-- birthdate: date (nullable = true)
 |-- country: string (nullable = true)
 |-- uuid: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- country_code: string (nullable = true)

### Задача 1

In [5]:
### Задача 1 ###

selection1 = df\
    .where(F.col("salary") > 10000) \
    .select('name', 'salary', 'phone', 'country')

selection1.show(20, truncate=False)

+-----------------+------+---------------------+-----------------------------+
|name             |salary|phone                |country                      |
+-----------------+------+---------------------+-----------------------------+
|Jermaine Espinoza|10350 |+1-605-744-8478x494  |Azerbaijan                   |
|James Gutierrez  |15900 |001-458-508-9427x3274|Kazakhstan                   |
|Angela Mcpherson |10350 |+1-207-529-2129x002  |Canada                       |
|John Sparks      |13350 |447.276.7449x063     |Christmas Island             |
|Megan Day        |18300 |+1-898-862-7028x5398 |Venezuela                    |
|James Gomez      |14850 |6296247845           |Holy See (Vatican City State)|
|Kenneth Johnson  |11550 |8952051792           |Germany                      |
|Sara Vega        |19100 |(850)284-8908        |Suriname                     |
|Alan Martin      |14150 |297-935-8388         |Montenegro                   |
|Kellie Wolf      |15250 |+1-931-409-4930x02398|Switzerland                  |
|Shawn Garza      |15450 |279.629.6598         |Comoros                      |
|Michael Castro   |18800 |6574114030           |Iceland                      |
|Anthony Hernandez|19050 |(331)906-2027x035    |Montenegro                   |
|Keith Todd       |13450 |377.557.8862         |Namibia                      |
|Austin Hines     |13700 |(653)817-3811        |Tuvalu                       |
|Jaclyn Poole     |14650 |+1-614-968-4601x9017 |Afghanistan                  |
|Donna Chen       |16000 |584.959.9553         |Wallis and Futuna            |
|Sara Parker      |11950 |882.621.8093x1614    |Algeria                      |
|Jonathan Johnson |11950 |505.874.2285x150     |Bahrain                      |
|Johnny Green     |17950 |+1-295-835-9133x269  |Faroe Islands                |
+-----------------+------+---------------------+-----------------------------+
only showing top 20 rows

### Задача 2

In [6]:
### Задача 2 ###

selection2 = df\
    .where(F.col("registration_date") > '2024-06-01') \
    .select('name', 'salary', 'phone', 'country')

selection2.show(20, truncate=False)

+----------------+------+---------------------+-----------------------------+
|name            |salary|phone                |country                      |
+----------------+------+---------------------+-----------------------------+
|James Gutierrez |15900 |001-458-508-9427x3274|Kazakhstan                   |
|Rhonda Foley    |2300  |513-361-0719         |Korea                        |
|Angela Mcpherson|10350 |+1-207-529-2129x002  |Canada                       |
|Madison Chambers|2000  |680-540-2534x29453   |Samoa                        |
|James Gomez     |14850 |6296247845           |Holy See (Vatican City State)|
|Alan Martin     |14150 |297-935-8388         |Montenegro                   |
|Kylie Conner    |9050  |(205)800-9320x880    |Cote d'Ivoire                |
|Kellie Wolf     |15250 |+1-931-409-4930x02398|Switzerland                  |
|Austin Hines    |13700 |(653)817-3811        |Tuvalu                       |
|Kelly Mills     |9200  |887.870.2343x1272    |Saint Pierre and Miquelon    |
|Sara Parker     |11950 |882.621.8093x1614    |Algeria                      |
|Johnny Green    |17950 |+1-295-835-9133x269  |Faroe Islands                |
|Eric Jones      |13200 |001-319-872-2374x272 |Croatia                      |
|Amanda Martinez |19300 |(859)877-3299x750    |Cyprus                       |
|Sarah Garcia    |18700 |341-618-4432x6111    |Algeria                      |
|Pamela Smith    |16850 |+1-630-471-9349x5676 |Congo                        |
|Ryan Good       |13200 |(400)220-5485x21189  |San Marino                   |
|Cody Finley     |10950 |001-747-382-6825     |Burkina Faso                 |
|Ricky Sandoval  |16550 |(251)944-5391        |Marshall Islands             |
|Blake Huerta    |8600  |709-694-0002         |Canada                       |
+----------------+------+---------------------+-----------------------------+
only showing top 20 rows

### Задача 3

In [7]:
### Задача 3 ###

selection3 = df\
    .where(
        (F.col("country") == 'Korea') & (F.col("salary") < 5000)
    ) \
    .select('name', 'salary', 'phone', 'country')

selection3.show(20, truncate=False)

+-------------------+------+----------------------+-------+
|name               |salary|phone                 |country|
+-------------------+------+----------------------+-------+
|Rhonda Foley       |2300  |513-361-0719          |Korea  |
|Christopher Kemp   |3400  |(331)445-9427x743     |Korea  |
|Carrie Phillips DDS|4250  |306-950-8592x63897    |Korea  |
|Shawn Mills        |2350  |437.913.4375x297      |Korea  |
|Melissa Murphy     |2450  |001-839-235-6489x239  |Korea  |
|Hannah Pope        |3800  |(644)206-9182x6454    |Korea  |
|Angela Flores      |2050  |620.630.5834x79673    |Korea  |
|Christopher Harris |4400  |001-321-607-2841x639  |Korea  |
|Nicole Ho          |4600  |696.349.9231x8164     |Korea  |
|Craig Khan         |2850  |286-515-2028x8940     |Korea  |
|David Davis        |3150  |941-805-4323x284      |Korea  |
|Troy Delacruz      |3750  |449-474-5582x3316     |Korea  |
|Barbara Smith      |3300  |001-924-410-7184x31865|Korea  |
|Gwendolyn Harmon   |3350  |+1-312-430-7372x10070 |Korea  |
|Megan Simpson      |4700  |8405197951            |Korea  |
|Charles White      |2500  |707.272.4032          |Korea  |
|Todd Peterson      |3450  |841.977.3864          |Korea  |
|Virginia Thomas    |3600  |320-717-0106x573      |Korea  |
|Norma Adams        |2000  |744-388-9910x127      |Korea  |
|Pamela Wade        |4500  |+1-236-559-2886x122   |Korea  |
+-------------------+------+----------------------+-------+
only showing top 20 rows

### Задача 4

In [8]:
### Задача 4 ###

selection4 = df\
    .where(
        (F.col("country") == 'Korea') & (F.col("phone").startswith('001'))
    ) \
    .select('name', 'salary', 'phone', 'country')

selection4.show(20, truncate=False)

+------------------+------+----------------------+-------+
|name              |salary|phone                 |country|
+------------------+------+----------------------+-------+
|Thomas Schultz    |19900 |001-653-780-7038x4003 |Korea  |
|Melissa Murphy    |2450  |001-839-235-6489x239  |Korea  |
|Ryan Brown        |5500  |001-549-219-3976x6096 |Korea  |
|Travis Mcbride    |11400 |001-266-864-2833x98727|Korea  |
|Vanessa Fowler    |7050  |001-940-675-2285x7793 |Korea  |
|Edward Vincent    |13800 |001-978-842-3173      |Korea  |
|Robert Olson      |9150  |001-214-785-6710      |Korea  |
|Brooke Clark      |16700 |001-431-966-4062      |Korea  |
|Paul Mcdonald     |8600  |001-889-536-3012x590  |Korea  |
|Christopher Harris|4400  |001-321-607-2841x639  |Korea  |
|Juan Davis        |9150  |001-563-801-5091x7045 |Korea  |
|Lisa Hood         |10500 |001-374-963-8385x800  |Korea  |
|Amanda Robinson   |13550 |001-654-523-1479x012  |Korea  |
|Jessica Lee       |16250 |001-973-331-8161      |Korea  |
|Barbara Smith     |3300  |001-924-410-7184x31865|Korea  |
|Amber Griffin     |8100  |001-979-741-8098x9535 |Korea  |
|Kyle Meyer        |13600 |001-907-812-1703x17249|Korea  |
|Shelby Johnson    |15000 |001-682-503-2903x6265 |Korea  |
|Darrell Hamilton  |16250 |001-631-751-0550x2244 |Korea  |
|Samuel Paul       |19050 |001-370-612-2693x6338 |Korea  |
+------------------+------+----------------------+-------+
only showing top 20 rows

### Задача 5

In [9]:
### Задача 5 ###

selection5 = df\
    .where(F.col("country_code").startswith('H')) \
    .select('name', 'salary', 'phone', 'country')

selection5.show(20, truncate=False)

+-----------------+------+----------------------+-------------------------+
|name             |salary|phone                 |country                  |
+-----------------+------+----------------------+-------------------------+
|Jermaine Espinoza|10350 |+1-605-744-8478x494   |Azerbaijan               |
|Madison Chambers |2000  |680-540-2534x29453    |Samoa                    |
|Joseph Garcia    |9700  |+1-710-354-9159x3200  |Niger                    |
|Victoria Adams   |11550 |+1-961-903-5402       |Luxembourg               |
|Alexander Wilson |5800  |482-557-5037          |Saint Pierre and Miquelon|
|Latoya Nicholson |9300  |+1-807-283-8513x0392  |Barbados                 |
|Veronica Rice    |17550 |+1-895-966-3028       |Egypt                    |
|Erica Middleton  |4700  |001-791-892-6594x357  |Togo                     |
|Christopher Levy |15700 |517-672-5121          |Zambia                   |
|Roy Davis        |13300 |001-625-207-6369x420  |Norway                   |
|Katie Wallace    |18500 |+1-770-624-1369x7216  |Somalia                  |
|Mario Peck       |14350 |001-824-334-7204x85451|Bosnia and Herzegovina   |
|Kyle Henderson   |16750 |982.595.0556x2388     |Antigua and Barbuda      |
|Lisa Johnson     |12550 |204-905-3827x818      |Mayotte                  |
|Donald Miller    |9100  |(591)335-4949x816     |Brunei Darussalam        |
|Jay Walsh        |19700 |+1-329-712-5825x314   |Liechtenstein            |
|Mrs. Monica Glass|12650 |949-926-3994x355      |Guam                     |
|Wendy Anderson   |18050 |228-690-9246          |Northern Mariana Islands |
|Aaron Sharp      |7950  |6523349855            |Pakistan                 |
|Carla Richardson |12250 |001-820-640-9956x1264 |Ghana                    |
+-----------------+------+----------------------+-------------------------+
only showing top 20 rows

### Задача 6

In [10]:
### Задача 6 ###

selection6 = df\
    .groupBy('country')\
    .agg(F.avg('salary').alias('avg_salary'))\
    .select('avg_salary', 'country')

selection6.show(20, truncate=False)

+------------------+---------------------------------+
|avg_salary        |country                          |
+------------------+---------------------------------+
|10993.791205056752|Chad                             |
|11019.629326233873|Paraguay                         |
|11045.240368223662|Anguilla                         |
|10991.558131605865|Macao                            |
|11001.287976619316|Heard Island and McDonald Islands|
|10912.682364117527|Yemen                            |
|10995.190933224423|Senegal                          |
|10993.406929347826|Tokelau                          |
|11043.685497012493|Sweden                           |
|10971.608091540662|French Southern Territories      |
|11027.50517391014 |Kiribati                         |
|11020.357364180954|Guyana                           |
|10952.664782129068|Jersey                           |
|11066.10701979596 |Philippines                      |
|11033.043507679817|Eritrea                          |
|11077.546135701401|Tonga                            |
|10966.90730777089 |Norfolk Island                   |
|10889.106106659297|Djibouti                         |
|10931.932118420162|Malaysia                         |
|11071.796354237518|Singapore                        |
+------------------+---------------------------------+
only showing top 20 rows

### Задача 7

In [11]:
### Задача 7 ###

selection7 = df\
    .groupBy('job')\
    .agg(
        F.min('birthdate').alias('min_birthdate'),
        F.max('birthdate').alias('max_birthdate')
    )\
    .select('min_birthdate', 'max_birthdate', 'job')

selection7.show(20, truncate=False)

+-------------+-------------+---------------------------------------+
|min_birthdate|max_birthdate|job                                    |
+-------------+-------------+---------------------------------------+
|1959-06-02   |2007-05-22   |Designer, ceramics/pottery             |
|1959-06-02   |2007-05-28   |Diplomatic Services operational officer|
|1959-06-03   |2007-05-28   |Retail merchandiser                    |
|1959-06-03   |2007-05-26   |Catering manager                       |
|1959-06-02   |2007-05-21   |Engineer, aeronautical                 |
|1959-06-01   |2007-05-26   |Librarian, academic                    |
|1959-06-05   |2007-05-30   |Occupational hygienist                 |
|1959-06-04   |2007-05-28   |Patent examiner                        |
|1959-06-11   |2007-05-17   |English as a second language teacher   |
|1959-06-01   |2007-05-21   |Early years teacher                    |
|1959-06-01   |2007-05-30   |Primary school teacher                 |
|1959-06-04   |2007-05-28   |Control and instrumentation engineer   |
|1959-06-02   |2007-05-25   |Clinical molecular geneticist          |
|1959-06-09   |2007-05-28   |Estate agent                           |
|1959-06-03   |2007-05-30   |Applications developer                 |
|1959-06-01   |2007-05-27   |Transport planner                      |
|1959-06-01   |2007-05-26   |Art therapist                          |
|1959-06-04   |2007-05-28   |Stage manager                          |
|1959-06-01   |2007-05-26   |Conservator, furniture                 |
|1959-06-01   |2007-05-29   |Adult nurse                            |
+-------------+-------------+---------------------------------------+
only showing top 20 rows

### Задача 8

In [12]:
### Задача 8 ###

selection8 = df\
    .groupBy('company')\
    .agg(F.count('*').alias('count_empl'))\
    .select('count_empl', 'company')

selection8.show(20, truncate=False)

+----------+----------------------------+
|count_empl|company                     |
+----------+----------------------------+
|1         |Ayala-Huang                 |
|4355      |Smith PLC                   |
|2         |Weber-Keller                |
|184       |Hernandez-Smith             |
|1         |Anderson, Dunn and Best     |
|213       |Payne Group                 |
|1         |Weeks, Williams and Martinez|
|2         |Quinn-Greer                 |
|302       |Holmes LLC                  |
|1         |Hurley-Dixon                |
|1         |Little, Davis and Ford      |
|220       |Obrien PLC                  |
|1         |Shelton-Savage              |
|7         |Roberts-Acosta              |
|1         |Abbott, Vazquez and Garcia  |
|12        |Stewart-Hill                |
|3         |Buchanan-Wright             |
|95        |Leblanc and Sons            |
|1         |Lawson, Adams and Walker    |
|4         |Simpson-Garrett             |
+----------+----------------------------+
only showing top 20 rows

### Задача 9

In [13]:
### Задача 9 ###

region2country_data = [
    ('Barbados', 'Caribbean'),
    ('Kazakhstan', 'Asia'),
    ('Equatorial Guinea', 'Africa'),
    ('Korea', 'Asia'),
    ('Bhutan', 'Asia'),
    ('Guernsey', 'Europe'),
    ('Canada', 'North America'),
    ('Christmas Island', 'Oceania'),
    ('Samoa', 'Oceania'),
    ('Venezuela', 'South America'),
    ('Germany', 'Europe'),
    ('Suriname', 'South America'),
    ('Montenegro', 'Europe'),
    ("Cote d'Ivoire", 'Africa'),
    ('Kyrgyz Republic', 'Asia'),
    ('Switzerland', 'Europe'),
    ('Comoros', 'Africa'),
    ('Iceland', 'Europe'),
    ('Namibia', 'Africa'),
    ('Tuvalu', 'Oceania')
]

region2country_df = spark.createDataFrame(
    region2country_data, 
    schema="country string, region string"
).alias("region2country")

joined9 = df\
    .join(
        region2country_df,
        region2country_df.country == df.country,
        how="left"
    )\
    .drop(region2country_df.country)

selection9 = joined9\
    .where(F.col('region') == 'Asia')\
    .groupBy('country')\
    .agg(F.avg('salary').alias('avg_asia_salary'))

# joined9.show(20, truncate=False)
selection9.show(20, truncate=False)

+---------------+------------------+
|country        |avg_asia_salary   |
+---------------+------------------+
|Bhutan         |10990.781335898846|
|Kyrgyz Republic|11010.297131147541|
|Kazakhstan     |10962.393664845426|
|Korea          |10994.604735633759|
+---------------+------------------+

### Задача 10

In [14]:
### Задача 10 ###

selection10 = joined9\
    .withColumn(
        'salary_range', 
        (
            F\
            .when(F.col('salary') < 5000, 'low')\
            .when(
                (F.col('salary') >= 5000) & 
                (F.col('salary') < 10001),
                'meduim'
            )\
            .when(F.col('salary') >= 10001, 'high')\
            .otherwise(None)\
        )
    )

selection10.printSchema()

selection10\
    .drop('region2country.country')\
    .coalesce(1)\
    .write\
    .partitionBy('salary_range')\
    .format('csv')\
    .options(header='True', sep=',')\
    .csv('data/t10_partition_by_salary_range')

root
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- address: string (nullable = true)
 |-- registration_date: date (nullable = true)
 |-- phone: string (nullable = true)
 |-- company: string (nullable = true)
 |-- job: string (nullable = true)
 |-- birthdate: date (nullable = true)
 |-- country: string (nullable = true)
 |-- uuid: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- country_code: string (nullable = true)
 |-- region: string (nullable = true)
 |-- salary_range: string (nullable = true)